
.recommend{
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
.recommend__musicRow{
  display: flex;
  overflow-x: scroll;
margin-right: 20px;
}

.recommend__musicRow::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: black; /* 또는 트랙에 추가한다 */
}
.recommend__musicRow::-webkit-scrollbar-thumb {
  background: var(--brightOrange);
  border-radius: 3px;
  opacity: 40%;
}

.recommend__musicRow-music{
  display: flex;
  flex-direction: column;
  margin-right: 15px;
}
.recommend__musicRow-music > p{
  font-size: 13px;
}
.recommend__musicRow-music > img{
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: 0px 2px 15px 0px var(--brightOrange);
}

.recommend__artits{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.recommend__artits > img{
  width: 130px;
  height: 130px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
  box-shadow: 0px 2px 15px 0px var(--brightOrange);
}