.user-component {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0px;
}
.user-component__column:first-child {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.user-component__avatar {
  width: 70px;
  height: 70px;
  border-radius: 20px;
  margin-right: 20px;
  object-fit: cover;
  box-shadow: 0px 2px 15px 0px var(--brightOrange);
}
.user-component__title {
  font-weight: 600;
  font-size: 18px;
}
.user-component__subtitle {
  margin-top: 8px;
  font-size: 15px;
  display: flex;
  align-items: center;
  color: var(--bringtOrange);
}
.user-component__subtitle i {
  padding-left: 5px;
  color: var(--redPink);
  opacity: 70%;
}
.user-component__avatar--xl {
  width: 80px;
  height: 80px;
  box-shadow: 0px 2px 15px 0px var(--brightOrange);
}
.user-component__avatar--sm {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  box-shadow: 0px 2px 15px 0px var(--brightOrange);
}
.user-component__title--not-bold {
  font-weight: 400;
}

.user-component__column:last-child {
  color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.user-component__time {
  margin-bottom: 10px;
  display: block;
  color: var(--brightOrange);
}
